.cart-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
    
}

.cart-checkout{
    min-width: 500px;
    background-color: #ececee;
    margin-left: 2rem;
    max-height: 20vh;
    padding: 1rem;
    border-radius: 1rem;
}

.cart-checkout-hide{
    display: none;
}

.cart-pr-wrapper{
    min-width: 500px;
    background-color: #ececee;
    padding: 1rem;
    border-radius: 1rem;
}

.cart-product-container{
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem;
    background-color: white;
    box-shadow:  11px 11px 22px #9fa4ad,
                 -7px -7px 22px #ffffff;
}

.cart-product-image{
    max-width:150px;
    max-height: 150px;
    border-radius: 1rem;
}

.cart-product-details-wrap{
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
}

@media(max-width:800px){
    .cart-product-image{
        max-width:50vw;
        max-height: 60vh;
        margin-left: orem;
    }
}